@font-face {
    font-family: 'Segoe UI';
    src: url('/fonts/SegoeUI-SemiBold.eot');
    src: local('/fonts/Segoe UI Semibold'), local('/fonts/SegoeUI-SemiBold'),
        url('/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('/fonts/SegoeUI-SemiBold.woff') format('woff'),
        url('/fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
