/*light theme css*/
:root {
	--mapp: #313140;  /* app name */
	--mdesc: #4A4A4A; /* app description */ 
	--mbkg: #F5F5F5;  /* app background */
	--msbkg: #FAFAFA;
	--mhbkg: #EEEEEE; /* app hower background */
	--mhbor: #FF6368; /* app hower border */
	/*--mactive: #8FA725;*/
	--mactive: #5E6E18;
	--minactive: #FF5C5F;
	--mexited: #F9B236;
	--hoo: #fbfbfb;
	}

.AppButton:hover { 
	background: var(--hoo)!important;
	
   }
